<!-- views folder has all ejs files -->

<%- include partials/header %>

<body>
    <h1> Products Page</h1>
    
    <!-- displaying products as a list -->
    <ul class="list-group">
        <% for(let i=0; i<products.length; i++){ %>
        <div>
            <li class="list-group-item"><%=products[i]%>
                <button> all </button>
            </li>
        </div>

        <% } %>
    </ul>

    <!-- create a form and it should add it to the array -->
    <br>
    <!-- form action basically looks for the path "/" after someone has submitted the product -->
    <form class="form-inline" action="/" , method="POST">
        <!-- <input type="text" name="product"><br> -->
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" name="product" class="form-control" placeholder="product">
        </div>
        <!-- the names that are assigned will match with schema names when we connect to a db -->
        <button type="submit" class="btn btn-primary mb-2" value="Submit">Submit</button>
    </form>

    <%- include partials/footer %>
